*{
    font-family: monospace;
    box-sizing: border-box;
    margin: 0;
}
body {
    background: rgb(211,61,180);
background: linear-gradient(90deg, rgba(211,61,180,1) 0%, rgba(234,208,229,1) 24%, rgba(234,211,232,1) 49%, rgba(231,203,225,1) 75%, rgba(217,41,172,1) 100%);

}

.iconP{
    width: 5%;
    margin:auto;
    display: block;
}
.nav-item{
    font-family: fantasy;
}
.containerFooter{
    border:1px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 20px;
    width: 50%;
}
.carousel-item{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 100px;
    display: flex;
    justify-content: center;
}
.nav.justify-content-center{
    background-color: rgb(49, 32, 49);
}
